* {
  box-sizing: border-box;
}

:root {
  --first: #6deeffce; /* –––––––––––––– main color (slightly transparent) */
  --second: #18b5cae9;  /* –––––––––––––– more opaque version of main color */
  --third: rgb(220, 220, 220); /* –––– light grey for shadows */
  --fourth: #00a2ffbe; /* –––––––––––––– periwinkle blue for accents */
}

body {
  font-family: Geneva, Verdana, sans-serif;
}


.info-bar {
  margin: 25px 25px 0 18px;
  font-weight: bold;
  font-size: 20px;
}


.highscore {
/* container holding: "View High Scores" */
  display: inline;
  
}


.highscore a {
/* specificlly targeting the words "View High Scores" only */
  text-decoration: none;
  color: var(--second);
  padding: 0px 1px 3px 1px;
}


.highscore a:hover {
  border-bottom: 3.5px dotted var(--fourth);
}


.timer {
/* container holding: "Time: 0" */
  background-color: var(--first);
  padding: 5px 15px;
  border-radius: 5px;
  float: right;
  color: black;
  filter: drop-shadow(-2px 4px 4px var(--third));
}

  
.timer span {
  font-weight: normal;
}


.main-page {
/* container holding: quiz title (<h2>) / quiz instructions (<p>) / "Start Quiz!" button (<button>) */
  display: block;
  /* background-color: rgba(0, 0, 255, 0.175); */
  padding: 30px 30px 60px 30px;
  border-radius: 10px;
  margin: 80px auto 0 auto;
  max-width: 900px;
  text-align: center;
}


.main-page h1 {
  font-size: 50px;
  margin-bottom: 35px;
}


.main-page p {
  font-size: 20px;
  margin: 30px;
  padding: 0 50px;
  line-height: 1.4;
  font-weight:lighter;
}


.button-style {
/* universal styling for all buttons throughout project */
  font-size: 21px;
  padding: 13px 20px;
  margin-top: 12px;
  background-color: transparent;
  border: 2.3px solid var(--first);
  border-radius: 5px;
  color: #000;
  cursor: pointer;
  filter: drop-shadow(-3px 4px 4px var(--third));
}


/* citation: https://www.sliderrevolution.com/resources/css-button-hover-effects/ */
.button-style:hover,
.button-style:focus {
  box-shadow: inset 7em 0 0 0 var(--first);
  transition: 0.5s;
}


.questions {
  /* border: 3px solid magenta; */
  margin: 80px auto 0 auto;
  padding: 5px;
  max-width: 900px;
}

.title {
  font-size: 38px;
  color: #000;
  text-align: left;
  padding-bottom: 0px;
}


.choices {
  /* border: 3px solid orange; */
  padding: 10px 0px 0px 20px;
}

.choices button {
  display: block;
  background-color: var(--first);
  border: none;
  width: 250px;
  text-align: left;
  filter: drop-shadow(-3px 4px 3px var(--third));
}

.choices button:hover,
.choices button:focus  {
  box-shadow: inset 12em 0 0 0 #00a2ffbe;
  transition: 0.5s;
  color: white;
}